body {
  font-family: sans-serif;
  background: #dbe7e4;
  font-size: small;
}

a {
  text-decoration: none;
  color: #7e8287;
  font-weight: bold;
  font-size: medium;
}

label {
  display: block;
}

/* nav a {
  display: inline-block;
  margin: 1em;
} */

form div {
  margin: 1em;
  display: inline-block;
}

.header-box {
  background: #c5dedd;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-weight: bold;
  font-size: large;
}

.total-box {
  background: #fad2e1;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-weight: bold;
  font-size: xx-large;
}

.btn {
  background-color: #c5dedd;
  border: transparent;
  color: black;
  font-weight: bold;
}

.topheader {
  align-content: center;
  text-align: center;
  font-size: medium;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold
}

